td{
    border: 1px solid gray;
}

table{
    width: 100%;
}

.container{
    max-width: 95%;
}

.admin-panel{
    display: flex;
    justify-content: center;
}

.add-panel{
    display: flex;
    justify-content: center;
}

.admin-every-product:nth-child(even){
    background-color: #e4e4e480;
}

/* add product */

.inp-add-product{
    margin: 5px 0;
}

.add-product-title{
    margin: 0;
}

/* edit product */

.admin-edit-product{
    width: 100%;
    margin-bottom: 5px;
}